<div class="row my-board">
  <section class="col-lg-12 col-md-12 col-sm-12 col-x-12 board-title">

    <h1>My Board </h1>


  </section>
   <section>
<div class="task-list" ng-repeat="task in taskList">
  <div class="col-lg-4 col-md-4 col-sm-6 col-x-12">
  <my-task task="task"></my-task>
  </div>
</div>

<div class="col-lg-4 col-md-4 col-sm-6 col-x-12">
  <div class="task-list task-block ">
    <div ng-click="addTaskList($event)" style="height: 45px;">
    Add a list
    </div>
    <div class="input-section add-task-section form-group" ng-show="showInputSection">
      <input type="text" class="form-control" ng-model="titleList"/>
      <div class="spacer">
        <button class="btn" ng-click="saveTask()">Save</button>
        <button class="btn"  ng-click="hideInputSection()">Close</button>
      </div>
    </div>
    </div>
  </div>
    </section>
</div>
