<div class="task-block">
    <div class="tasktitle-section row">
      <span class="pull-left" ng-hide="editTaskTitle">{{task.title}}</span>
      <span class="pull-left form-group" ng-show="editTaskTitle"><input type="text" ng-model="newTaskTitle" ng-blur="editTask()" class="form-control"/></span>
      <button class="btn-link pull-right" ng-click="removeTask()"><span class="glyphicon glyphicon-trash"></button>
      <button class="btn-link pull-right" ng-hide="editTaskTitle" ng-click="showEditTask()"><span class="glyphicon glyphicon-edit"></span></button>
      <button class="btn-link pull-right" ng-show="editTaskTitle" ng-click="hideEditTask()"><span class="glyphicon glyphicon-remove"></span></button>
      <button class="btn-link pull-right" ng-click="addCardList($event)"><span class="glyphicon glyphicon-plus-sign"></button>
    </div>
    <div class="input-section add-card-section form-group" ng-show="showInputSection">
      <h1>Add Card</h1>
      <textarea ng-model="cardDetail" class="spacer form-control"></textarea>
     <div class="spacer">
        <button class="btn" ng-click="addCard()">Add</button>
        <button  class="btn" ng-click="hideInputSection()">Close</button>
      </div>
    </div>
    <div class="card-list">
      <div ng-repeat="card in cardList">
        <card-item card="card"></card-item>
      </div>
    </div>
</div>
