/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}
.my-board{
  margin-top: 30px;
}
.board-title{
  margin-bottom: 30px;
}
.board-title h1{
  font-size: 30px;
  color: blue;
}
.task-block{
    height: 150px;
    background: #E2E4E6;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 20px;
    overflow: scroll;
    margin-bottom: 20px;
}
.tasktitle-section , .card-detail-section{
margin: 0 0 10px 0;
padding: 5px;
margin-bottom: 10px;
font-weight: 200px;
}
.card-detail-section{
      background-color: #fff;
      border-bottom: 1px solid #ccc;
      border-radius: 3px;
}
.quick-card-editor-buttons {
    margin-bottom: 10px;
    margin-left: 4px;
    margin-top: 10px;
}
.quick-card-editor-buttons a.btn-link{
  width: 22%;
  display: inline-block;
}
.card-detail-section span{

    padding: 4px 6px;

}
.spacer{
  margin: 10px 0;
}
.input-section{
   position: absolute;
    z-index: 1000;
    background: gray;
    padding: 20px;
    margin-top: -13px;;

}
.card-detail-section span.card-tag {
  background: #F2D600;
  border-radius: 6px;
  margin-right: 20px;
}
.input-section{
  margin: 0 0 10px 0;
}
.input-section {
	position: absolute;
	background: #88b7d5;
	border: 4px solid #c2e1f5;
  width: 250px;
}
.input-section:after, .input-section:before {
	bottom: 100%;
	left: 22%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.input-section:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #88b7d5;
	border-width: 30px;
	margin-left: -30px;
}
.input-section:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #c2e1f5;
	border-width: 36px;
	margin-left: -36px;
}

span.quick-card-editor-buttons-item-text {
      padding : 10px;
}
